In [1]:
import pandas as pd
import pathlib
import numpy as np

In [52]:
minut = pd.read_excel('/Users/stefanpana/PycharmProjects/Audiente/Digi 24-audiente zilnice la minut 2023-03-01.xlsx', sheet_name=3, skiprows=[0, 1, 1143]).set_index('Timebands').loc[:, ['TTV.1', 'Digi 24.1',
                                                                                              'Antena 3 CNN.1',
                                                                                              'B1TV.1', 'EuroNews.1',
                                                                                              'Realitatea Plus.1',
                                                                                              'Romania TV.1']]

sfert = pd.read_excel('/Users/stefanpana/PycharmProjects/Audiente/Digi 24-audiente zilnice 2023-03-01.xlsx', sheet_name=1, skiprows=[0, 1, 1143]).set_index('Timebands').loc[:, ['TTV.1', 'Digi 24.1',
                                                                                              'Antena 3 CNN.1',
                                                                                              'B1TV.1', 'EuroNews.1',
                                                                                              'Realitatea Plus.1',
                                                                                              'Romania TV.1']]

In [53]:
minut.columns = minut.columns.str.replace('.1', '', regex=False)
sfert.columns = sfert.columns.str.replace('.1', '', regex=False)
for x in sfert.index:
    if ">>>" in x:
        sfert.drop(x, inplace=True)

In [4]:
pd.concat([minut, sfert]).to_csv('concated.csv')

In [54]:
stirile_zilei = pd.read_csv('concated.csv', index_col=[0]).loc['16:00':'18:59', :]

In [55]:
test = np.around(stirile_zilei.mean(), 2)
test

TTV                15.93
Digi 24             0.68
Antena 3 CNN        0.73
B1TV                0.03
EuroNews            0.01
Realitatea Plus     0.29
Romania TV          0.23
dtype: float64

In [56]:
sz = pd.DataFrame(np.around(stirile_zilei.mean(), 2))

In [57]:
sz

                     0
TTV              15.93
Digi 24           0.68
Antena 3 CNN      0.73
B1TV              0.03
EuroNews          0.01
Realitatea Plus   0.29
Romania TV        0.23

In [61]:
onefile = pd.read_csv('/Users/stefanpana/PycharmProjects/Audiente/Data/Complete/2023/03/2023-03-01.csv')

In [62]:
onefile

,Timebands,TTV,Digi 24,Antena 3 CNN,B1TV,EuroNews,Realitatea Plus,Romania TV
0,02:00 - 02:15,5.53,0.00,0.23,0.0,0.0,0.18,0.09
1,02:15 - 02:30,4.87,0.00,0.23,0.0,0.0,0.18,0.00
2,02:30 - 02:45,4.18,0.04,0.20,0.0,0.0,0.18,0.00
3,02:45 - 03:00,3.65,0.09,0.15,0.0,0.0,0.11,0.00
4,03:00 - 03:15,3.40,0.09,0.15,0.0,0.0,0.01,0.00
...,...,...,...,...,...,...,...,...
1232,24:55,NaN,0.00,0.18,0.0,0.0,0.10,0.35
1233,24:56,NaN,0.00,0.18,0.0,0.0,0.10,0.28
1234,24:57,NaN,0.00,0.18,0.0,0.0,0.10,0.28
1235,24:58,NaN,0.00,0.18,0.0,0.0,0.10,0.28
1236,24:59,NaN,0.00,0.10,0.0,0.0,0.10,0.28

In [40]:
pd.concat([onefile, sz])

,Timebands,TTV,Digi 24,Antena 3 CNN,B1TV,EuroNews,Realitatea Plus,Romania TV,0
0,02:00 - 02:15,5.53,0.00,0.23,0.0,0.0,0.18,0.09,NaN
1,02:15 - 02:30,4.87,0.00,0.23,0.0,0.0,0.18,0.00,NaN
2,02:30 - 02:45,4.18,0.04,0.20,0.0,0.0,0.18,0.00,NaN
3,02:45 - 03:00,3.65,0.09,0.15,0.0,0.0,0.11,0.00,NaN
4,03:00 - 03:15,3.40,0.09,0.15,0.0,0.0,0.01,0.00,NaN
...,...,...,...,...,...,...,...,...,...
Antena 3 CNN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.73
B1TV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.03
EuroNews,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.01
Realitatea Plus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.29
Romania TV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.23

In [86]:
df = pd.DataFrame(np.array([['6:00', 1, 2, 3], ['6:01', 2, 3, 4], ['6:02', 5, 6, 7], ['6:03', 8, 9, 10], ['6:04', 11, 12, 13]]),
                   columns=['Time', 'a', 'b', 'c']).set_index('Time')

In [89]:
print(df)

NameError: name 'df' is not defined