In [1]:
import pandas as pd
import pathlib
import numpy as np

In [118]:
minut = pd.read_excel('/Users/stefanpana/PycharmProjects/Audiente/Digi 24-audiente zilnice la minut 2023-03-01.xlsx', sheet_name=3, skiprows=[0, 1, 1143]).set_index('Timebands').loc[:, ['TTV.1', 'Digi 24.1',
                                                                                              'Antena 3 CNN.1',
                                                                                              'B1TV.1', 'EuroNews.1',
                                                                                              'Realitatea Plus.1',
                                                                                              'Romania TV.1']]

sfert = pd.read_excel('/Users/stefanpana/PycharmProjects/Audiente/Digi 24-audiente zilnice 2023-03-01.xlsx', sheet_name=1, skiprows=[0, 1, 1143]).set_index('Timebands').loc[:, ['TTV.1', 'Digi 24.1',
                                                                                              'Antena 3 CNN.1',
                                                                                              'B1TV.1', 'EuroNews.1',
                                                                                              'Realitatea Plus.1',
                                                                                              'Romania TV.1']]

In [119]:
minut.columns = minut.columns.str.replace('.1', '', regex=False)
sfert.columns = sfert.columns.str.replace('.1', '', regex=False)
for x in sfert.index:
    if ">>>" in x:
        sfert.drop(x, inplace=True)

In [120]:
pd.concat([minut, sfert]).to_csv('concated.csv')

In [170]:
stirile_zilei = pd.read_csv('concated.csv', index_col=[0]).loc['16:00':'18:59', :]

In [122]:
test = np.around(stirile_zilei.mean(), 2)
test

TTV                15.93
Digi 24             0.68
Antena 3 CNN        0.73
B1TV                0.03
EuroNews            0.01
Realitatea Plus     0.29
Romania TV          0.23
dtype: float64

In [178]:
sz = pd.DataFrame(np.around(stirile_zilei.mean(), 2)).T

In [182]:
sz

     TTV  Digi 24  Antena 3 CNN  B1TV  EuroNews  Realitatea Plus  Romania TV
0  15.93     0.68          0.73  0.03      0.01             0.29        0.23

In [229]:
onefile = pd.read_csv('/Users/stefanpana/PycharmProjects/Audiente/Data/Complete/2023/03/2023-03-01.csv', index_col=0)

In [200]:
onefile

,TTV,Digi 24,Antena 3 CNN,B1TV,EuroNews,Realitatea Plus,Romania TV
Timebands,,,,,,,
02:00 - 02:15,5.53,0.00,0.23,0.0,0.0,0.18,0.09
02:15 - 02:30,4.87,0.00,0.23,0.0,0.0,0.18,0.00
02:30 - 02:45,4.18,0.04,0.20,0.0,0.0,0.18,0.00
02:45 - 03:00,3.65,0.09,0.15,0.0,0.0,0.11,0.00
03:00 - 03:15,3.40,0.09,0.15,0.0,0.0,0.01,0.00
...,...,...,...,...,...,...,...
24:55,9.54,0.00,0.18,0.0,0.0,0.10,0.35
24:56,9.47,0.00,0.18,0.0,0.0,0.10,0.28
24:57,9.39,0.00,0.18,0.0,0.0,0.10,0.28
24:58,9.08,0.00,0.18,0.0,0.0,0.10,0.28
24:59,8.92,0.00,0.10,0.0,0.0,0.10,0.28

In [184]:
pd.concat([onefile, sz], ignore_index=True)

,Timebands,TTV,Digi 24,Antena 3 CNN,B1TV,EuroNews,Realitatea Plus,Romania TV
0,02:00 - 02:15,5.53,0.00,0.23,0.00,0.00,0.18,0.09
1,02:15 - 02:30,4.87,0.00,0.23,0.00,0.00,0.18,0.00
2,02:30 - 02:45,4.18,0.04,0.20,0.00,0.00,0.18,0.00
3,02:45 - 03:00,3.65,0.09,0.15,0.00,0.00,0.11,0.00
4,03:00 - 03:15,3.40,0.09,0.15,0.00,0.00,0.01,0.00
...,...,...,...,...,...,...,...,...
1233,24:56,NaN,0.00,0.18,0.00,0.00,0.10,0.28
1234,24:57,NaN,0.00,0.18,0.00,0.00,0.10,0.28
1235,24:58,NaN,0.00,0.18,0.00,0.00,0.10,0.28
1236,24:59,NaN,0.00,0.10,0.00,0.00,0.10,0.28
1237,NaN,15.93,0.68,0.73,0.03,0.01,0.29,0.23

In [227]:
onefile

,TTV,Digi 24,Antena 3 CNN,B1TV,EuroNews,Realitatea Plus,Romania TV,Average
Timebands,,,,,,,,
02:00 - 02:15,5.53,0.00,0.23,0.0,0.0,0.18,0.09,NaN
02:15 - 02:30,4.87,0.00,0.23,0.0,0.0,0.18,0.00,NaN
02:30 - 02:45,4.18,0.04,0.20,0.0,0.0,0.18,0.00,NaN
02:45 - 03:00,3.65,0.09,0.15,0.0,0.0,0.11,0.00,NaN
03:00 - 03:15,3.40,0.09,0.15,0.0,0.0,0.01,0.00,NaN
...,...,...,...,...,...,...,...,...
24:55,9.54,0.00,0.18,0.0,0.0,0.10,0.35,NaN
24:56,9.47,0.00,0.18,0.0,0.0,0.10,0.28,NaN
24:57,9.39,0.00,0.18,0.0,0.0,0.10,0.28,NaN
24:58,9.08,0.00,0.18,0.0,0.0,0.10,0.28,NaN
24:59,8.92,0.00,0.10,0.0,0.0,0.10,0.28,0.0

In [231]:
digi24_slots = [{'tronson': '2:00 - 6:00', 'start_q': '02:00 - 02:15', 'end_q': '05:45 - 06:00'},
                {'tronson': '6-8 Matinal',
                 'start_q': '06:00 - 06:15', 'end_q': '08:45 - 09:00', 'start_m': '06:00', 'end_m': '08:59'},
                {'tronson': '9-11 Știrile Dimineții',
                 'start_q': '09:00 - 09:15', 'end_q': '11:45 - 12:00', 'start_m': '09:00', 'end_m': '11:59'},
                {'tronson': '12-14 Știrile Amiezii',
                 'start_q': '12:00 - 12:15', 'end_q': '14:45 - 15:00', 'start_m': '12:00', 'end_m': '14:59'},
                {'tronson': 'Studio Politic',
                 'start_q': '15:00 - 15:15', 'end_q': '15:45 - 16:00', 'start_m': '15:00', 'end_m': '15:59'},
                {'tronson': '16-18 Știrile Zilei',
                 'start_q': '16:00 - 16:15', 'end_q': '18:45 - 19:00', 'start_m': '16:00', 'end_m': '18:59'},
                {'tronson': 'Business Club',
                 'start_q': '19:00 - 19:15', 'end_q': '19:45 - 20:00', 'start_m': '19:00', 'end_m': '19:59'},
                {'tronson': 'Jurnalul de Seară',
                 'start_q': '20:00 - 20:15', 'end_q': '22:45 - 23:00', 'start_m': '20:00', 'end_m': '22:59'},
                {'tronson': '23:00 Știrile Serii',
                 'start_q': '23:00 - 23:15', 'end_q': '25:45 - 26:00', 'start_m': '23:00', 'end_m': '24:59'}]

In [307]:
for slot in digi24_slots:
    x = pd.concat([onefile.loc[slot.get('start_q'):slot.get('end_q'), 'Digi 24']])
print(x)

Timebands
23:00 - 23:15    0.44
23:15 - 23:30    0.48
23:30 - 23:45    0.50
23:45 - 24:00    0.55
24:00 - 24:15    0.35
24:15 - 24:30    0.10
24:30 - 24:45    0.00
24:45 - 25:00    0.00
25:00 - 25:15    0.06
25:15 - 25:30    0.19
25:30 - 25:45    0.24
25:45 - 26:00    0.06
Name: Digi 24, dtype: float64

In [396]:
this_works = pd.concat(onefile.loc[slot.get('start_q'):slot.get('end_q'), ['Digi 24']] for slot in digi24_slots)
this_works

               Digi 24
Timebands
02:00 - 02:15     0.00
02:15 - 02:30     0.00
02:30 - 02:45     0.04
02:45 - 03:00     0.09
03:00 - 03:15     0.09
...                ...
24:45 - 25:00     0.00
25:00 - 25:15     0.06
25:15 - 25:30     0.19
25:30 - 25:45     0.24
25:45 - 26:00     0.06

[96 rows x 1 columns]

In [394]:
this_works_mean = pd.concat(pd.DataFrame.from_dict({f"Medie {slot.get('tronson')}": onefile.loc[slot.get('start_q'):slot.get('end_q'), ['Digi 24']].mean()},
                                            orient='index') for slot in digi24_slots)
this_works_mean

                               Digi 24
Medie 2:00 - 6:00             0.059375
Medie 6-8 Matinal             0.316667
Medie 9-11 Știrile Dimineții  0.120833
Medie 12-14 Știrile Amiezii   0.310833
Medie Studio Politic          0.562500
Medie 16-18 Știrile Zilei     0.685000
Medie Business Club           0.590000
Medie Jurnalul de Seară       0.849167
Medie 23:00 Știrile Serii     0.247500

,02:00 - 02:15,02:15 - 02:30,02:30 - 02:45,02:45 - 03:00,03:00 - 03:15,03:15 - 03:30,03:30 - 03:45,03:45 - 04:00,04:00 - 04:15,04:15 - 04:30,...,25:45 - 26:00,Medie 2:00 - 6:00,Medie 6-8 Matinal,Medie 9-11 Știrile Dimineții,Medie 12-14 Știrile Amiezii,Medie Studio Politic,Medie 16-18 Știrile Zilei,Medie Business Club,Medie Jurnalul de Seară,Medie 23:00 Știrile Serii
0,0.0,0.0,0.04,0.09,0.09,0.09,0.08,0.01,0.09,0.0,...,0.06,0.059375,0.316667,0.120833,0.310833,0.5625,0.685,0.59,0.849167,0.2475

In [372]:
x = [pd.concat([onefile.loc[slot.get('start_q'):slot.get('end_q'), 'Digi 24'], pd.DataFrame.from_dict({'Medie': onefile.loc[slot.get('start_q'):slot.get('end_q'), 'Digi 24'].mean()}, orient='index')]) for slot in digi24_slots]

x

[                      0
 02:00 - 02:15  0.000000
 02:15 - 02:30  0.000000
 02:30 - 02:45  0.040000
 02:45 - 03:00  0.090000
 03:00 - 03:15  0.090000
 03:15 - 03:30  0.090000
 03:30 - 03:45  0.080000
 03:45 - 04:00  0.010000
 04:00 - 04:15  0.090000
 04:15 - 04:30  0.000000
 04:30 - 04:45  0.000000
 04:45 - 05:00  0.000000
 05:00 - 05:15  0.000000
 05:15 - 05:30  0.000000
 05:30 - 05:45  0.070000
 05:45 - 06:00  0.390000
 Medie          0.059375,
                       0
 06:00 - 06:15  0.550000
 06:15 - 06:30  0.310000
 06:30 - 06:45  0.170000
 06:45 - 07:00  0.090000
 07:00 - 07:15  0.250000
 07:15 - 07:30  0.360000
 07:30 - 07:45  0.350000
 07:45 - 08:00  0.360000
 08:00 - 08:15  0.340000
 08:15 - 08:30  0.370000
 08:30 - 08:45  0.360000
 08:45 - 09:00  0.290000
 Medie          0.316667,
                       0
 09:00 - 09:15  0.250000
 09:15 - 09:30  0.290000
 09:30 - 09:45  0.160000
 09:45 - 10:00  0.000000
 10:00 - 10:15  0.000000
 10:15 - 10:30  0.030000
 10:30 - 10:45  0.000000
 10:45 - 11:00  0.000000
 11:00 - 11:15  0.000000
 11:15 - 11:30  0.240000
 11:30 - 11:45  0.240000
 11:45 - 12:00  0.240000
 Medie          0.120833,
                       0
 12:00 - 12:15  0.380000
 12:15 - 12:30  0.510000
 12:30 - 12:45  0.720000
 12:45 - 13:00  0.430000
 13:00 - 13:15  0.380000
 13:15 - 13:30  0.250000
 13:30 - 13:45  0.180000
 13:45 - 14:00  0.150000
 14:00 - 14:15  0.090000
 14:15 - 14:30  0.150000
 14:30 - 14:45  0.260000
 14:45 - 15:00  0.230000
 Medie          0.310833,
                     0
 15:00 - 15:15  0.3700
 15:15 - 15:30  0.5500
 15:30 - 15:45  0.7600
 15:45 - 16:00  0.5700
 Medie          0.5625,
                    0
 16:00 - 16:15  0.560
 16:15 - 16:30  0.850
 16:30 - 16:45  0.950
 16:45 - 17:00  0.750
 17:00 - 17:15  0.740
 17:15 - 17:30  0.480
 17:30 - 17:45  0.380
 17:45 - 18:00  0.580
 18:00 - 18:15  0.520
 18:15 - 18:30  0.750
 18:30 - 18:45  0.810
 18:45 - 19:00  0.850
 Medie          0.685,
                   0
 19:00 - 19:15  0.53
 19:15 - 19:30  0.52
 19:30 - 19:45  0.53
 19:45 - 20:00  0.78
 Medie          0.59,
                       0
 20:00 - 20:15  1.460000
 20:15 - 20:30  1.250000
 20:30 - 20:45  0.940000
 20:45 - 21:00  0.770000
 21:00 - 21:15  0.780000
 21:15 - 21:30  1.030000
 21:30 - 21:45  0.660000
 21:45 - 22:00  0.680000
 22:00 - 22:15  0.800000
 22:15 - 22:30  0.720000
 22:30 - 22:45  0.630000
 22:45 - 23:00  0.470000
 Medie          0.849167,
                     0
 23:00 - 23:15  0.4400
 23:15 - 23:30  0.4800
 23:30 - 23:45  0.5000
 23:45 - 24:00  0.5500
 24:00 - 24:15  0.3500
 24:15 - 24:30  0.1000
 24:30 - 24:45  0.0000
 24:45 - 25:00  0.0000
 25:00 - 25:15  0.0600
 25:15 - 25:30  0.1900
 25:30 - 25:45  0.2400
 25:45 - 26:00  0.0600
 Medie          0.2475]

In [281]:
y = onefile.loc[slot.get('start_q'):slot.get('end_q'), 'Digi 24'].mean()
type(y)

numpy.float64

In [285]:
z = pd.DataFrame.from_dict({'Medie': y}, orient='index')
z

            0
Medie  0.2475

In [400]:
pd.DataFrame([onefile.loc['Whole day', 'Digi 24']], index=['Whole day'], columns=['Digi 24'])

           Digi 24
Whole day     0.37